# Pwned Passwords service (https://haveibeenpwned.com/Passwords)

version: '3.1'                                                                                                                      

#-# Define the network
networks:
  your-network:

#-# Define services
services:
  pwned-passwords:
    image: pwned-httpd
    volumes:
      - "/path/to/pwnedpasswords/download:/data:ro,z"
    networks:
      your-network:
    restart: on-failure
    ports:
      - "2080:80"
